# Dependencies
node_modules
__pycache__
.pyc
.DS_Store

# Databases
*.db
*.db-journal

# Local
spine/projects/*
spine-engine
spine-items
spinedb-api
spinetoolbox
**/share/*
**/include/*

# Secrets
local.json
client_secrets.json

# Configuration
*.log
.vscode
*.cfg

# Virtual Environments
venv
bin
lib
Scripts
Lib

# Certificates
*.crt