# Dependencies
node_modules
__pycache__
.pyc
.DS_Store

# Databases
*.db
*.db-journal

# Local
spine/projects/*
app/spine/spine-engine
app/spine/spine-items
app/spine/spinedb-api
app/spine/spinetoolbox
**/share/*
**/include/*

# Secrets
local.json
client_secrets.json

# Configuration
*.log
.vscode

# Virtual Environments
venv
bin
lib
Scripts
Lib

# Certificates
*.crt