# MacOS
.DS_Store

# Logs
*.log

# AI
.claude/
.codex/
CLAUDE.md
.serena/

# API
*.pyc
__pycache__

# Secrets
*.env
*.key
*.cer
*.ini

# Virtual Environment
.venv/

# IDEs
.idea/
.vscode/

# Web
web/.angular
web/.sass-cache/
web/dist
web/node_modules
