# API
DEBUG=1
MONGO_URI=admin:password@mongodb:27017

# Mongo
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=resdeeds

# Python
SECRET_KEY=thisisverysecret
