<div class="diagram-page-container">
    <div class="diagram-top-bar">
        <div class="my-diagram-buttton diagram-button" (click)="addUtilitySource()">Add Utility</div>
        <div class="my-diagram-buttton diagram-button" (click)="addLine()">Add Line</div>
        <div class="my-diagram-buttton diagram-button" (click)="addDieselGenerator()">Add Diesel Generator</div>
        <div class="my-diagram-buttton diagram-button" (click)="addWindGenerator()">Add Wind Generator</div>
        <div class="my-diagram-buttton diagram-button" (click)="addSolarGenerator()">Add Solar Generator</div>
        <div class="my-diagram-buttton diagram-button" (click)="addBattery()">Add Battery</div>
        <div class="my-diagram-buttton diagram-button" (click)="addBus()">Add Bus</div>
        <div class="my-diagram-buttton diagram-button" (click)="addLoad()">Add Load</div>
    </div>
    <div class="diagram-wrapper">
        <div #drawflow class="drawflow-container drawing-board main-diagram"></div>

        <div class="node-data" > 
            <div class="node-data-tabs">
                <div class="node-data-tab diagram-button" [ngClass]="{'node-data-tab-selected': tabSelected == 'info'}" (click)="setTab('info')">Info</div>
                <div class="node-data-tab diagram-button" [ngClass]="{'node-data-tab-selected': tabSelected == 'connections'}"(click)="setTab('connections')">Connections</div>
            </div>
            
            @if (tabSelected == 'info') {
            <div class="node-specific-data" [formGroup]="workingFormGroup">
                @if (workingNode) {
                    <div class="generic-node-data">
                        <label for="title">Title: </label>
                        <input id="title" type="text" formControlName="title">
                    </div>        
                }
                @if (workingNode?.data?.type == 'UtilitySource' ) {
                    <div class="generic-node-data">
                        <label for="nominalVoltage">Nominal Voltage: </label>
                        <input id="nominalVoltage" type="number" formControlName="nominalVoltage">
                        
                        <label for="maximumPowerFactor">Maximum Power Factor: </label>
                        <input id="maximumPowerFactor" type="number" formControlName="maximumPowerFactor">
                        
                        <label for="minimumPowerFactor">Minimum Power Factor: </label>
                        <input id="minimumPowerFactor" type="number" formControlName="minimumPowerFactor">
    
                        <label for="maximumCurrentAvailable">Maximum Current Available: </label>
                        <input id="maximumCurrentAvailable" type="number" formControlName="maximumCurrentAvailable">
                    </div> 
                }
                @if (workingNode?.data?.type == 'DieselGenerator' ) {
                    <div class="generic-node-data">
                        <label for="nominalPower">Nominal Power: </label>
                        <input id="nominalPower" type="number" formControlName="nominalPower">
                        
                        <label for="namePlateMaximumPower">Nameplate Maxium Power: </label>
                        <input id="namePlateMaximumPower" type="number" formControlName="namePlateMaximumPower">
                        
                    </div> 
                }
                @if (workingNode?.data?.type == 'WindGenerator' ) {
                    <div class="generic-node-data">
                        <label for="nominalPower">Nominal Power: </label>
                        <input id="nominalPower" type="number" formControlName="nominalPower">
                        
                        <label for="namePlateMaximumPower">Nameplate Maxium Power: </label>
                        <input id="namePlateMaximumPower" type="number" formControlName="namePlateMaximumPower">
                        
                        <label for="maxOutput">Max Output (Estimated Percent): </label>
                        <input id="maxOutput" type="number" formControlName="maxOutput">
                        
                    </div> 
                }
                @if (workingNode?.data?.type == 'SolarGenerator' ) {
                    <div class="generic-node-data">
                        <label for="nominalPower">Nominal Power: </label>
                        <input id="nominalPower" type="number" formControlName="nominalPower">
                        
                        <label for="namePlateMaximumPower">Nameplate Maxium Power: </label>
                        <input id="namePlateMaximumPower" type="number" formControlName="namePlateMaximumPower">                    
                        
                    </div> 
                }
                @if (workingNode?.data?.type == 'Battery' ) {
                    <div class="generic-node-data">
                        <label for="rateOfCharge">Rate of Charge (MW): </label>
                        <input id="rateOfCharge" type="number" formControlName="rateOfCharge">
    
                        <label for="rateOfDischarge">Rate of Discharge (MW): </label>
                        <input id="rateOfDischarge" type="number" formControlName="rateOfDischarge">
                           
                        <label for="storage">Storage: </label>
                        <input id="storage" type="number" formControlName="storage">                    
                        
                    </div> 
                }
                @if (workingNode?.data?.type == 'Line' ) {
                    <div class="generic-node-data">
                        
                        <label for="steadyStateCurrentRating">Steady State Current Rating: </label>
                        <input id="steadyStateCurrentRating" type="number" formControlName="steadyStateCurrentRating">
                        
                        <label for="length">Length (miles): </label>
                        <input id="length" type="number" formControlName="length">
                        
                        <label for="admitance">Admittance/Impedance : </label>
                        <input id="admitance" type="number" formControlName="admitance">
    
                        <label for="emergency4HourRating">Emergency Four Hour Rating: </label>
                        <input id="emergency4HourRating" type="number" formControlName="emergency4HourRating">
    
                        <label for="emergency2HourRating">Emergency Two Hour Rating: </label>
                        <input id="emergency2HourRating" type="number" formControlName="emergency2HourRating">
                    </div> 
                }
                @if (workingNode?.data?.type == 'Bus' ) {
                    <div class="generic-node-data">
                        
                    </div> 
                }
                @if (workingNode?.data?.type == 'Load' ) {
                    <div class="generic-node-data">
                        
                        <label for="powerFactor">Power Factor: </label>
                        <input id="powerFactor" type="number" formControlName="powerFactor">
                        
                        <label for="reduction">Reduction: </label>
                        <input id="reduction" type="number" formControlName="reduction">
                        
                        <label for="timeAllowedForOutage">Time Allowed For Outage : </label>
                        <input id="timeAllowedForOutage" type="number" formControlName="timeAllowedForOutage">
    
                    </div> 
                }
                @if (workingNode && this.workingFormGroup.valid) {                
                    <button class="my-diagram-buttton" [disabled]="!workingFormGroup.valid" (click)="saveWorkingNode()">Save</button>      
                }
            </div>
            }
            
            @if (tabSelected == 'connections') {
                <div class="node-connection-data">

                    @for (input of inputConnections; track input.id){
                        {{input.title}}
                        
                        @for (connection of input.connections; track connection.node){
                            {{connection.title}}
                        }
                    }
                    <div>-----------</div>
                    @for (output of outputConnections; track output.id){
                        {{output.title}}
                    }
                    <!-- @for (input of workingNode.inputsArray; track input.id) {
                        <div  (click)="getNodeTitle(input.id)"> X </div>>
                    } -->
                    <!-- @for (output of workingNode.outputsArray; track output.id) {
                        out
                    } -->
                    <!-- @for (const [key, value] of Object.entries(workingNode.outputs; track key)) {
                        test
                    } -->
                    <!-- @for (output of workingNode.outputs; track 1) {
                        inputs
                    } -->
                </div>
            }
        </div>
    </div>
    <div class="diagram-bottom-bar">
        @if (nodeSelected) {
            <div class="my-diagram-buttton" (click)="addNode()">Add Node</div>
            <div class="my-diagram-buttton" (click)="test()">Test</div>
        }
    </div>

</div>



