<!-- Copyright 2023, Battelle Energy Alliance, LLC -->
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>INL - Resilience Calculator</title>

	<!-- Bootstrap -->
	<script src="../static/jquery-3.2.1.slim.min.js"></script>
	<script src="../static/jquery-ui.min.js"></script>
	<script src="../static/popper.min.js"></script>
	<script src="../static/bootstrap.min.js"></script>
	<script src="./static/spinner.js"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="../static/bootstrap.min.css" type="text/css"
	rel="stylesheet" />
	<link href="../static/okta-sign-in.min.css" type="text/css"
		rel="stylesheet" />
	<link href="./static/spinner.css" type="text/css"
	rel="stylesheet" />


	<!-- Optional theme -->
	<link href="../static/bootstrap-theme.min.css" type="text/css"'
	rel="stylesheet" />

	<!-- sortable jquery req -->
	<script src="../static/jquery-1.12.4.js"></script>
	<script src="../static/jquery-ui.js"></script>
	{% block header %}
	{% endblock %}
</head>

<body>
	<div class="container-fluid">

		<div class="row">
			<nav class="navbar navbar-dark bg-dark shadow">
				<a class="navbar-brand col-sm-3 col-md-2 mr-0 nav-link" href="/">Idaho National Laboratory - Resilience
					Calculator</a>
				{% if g.user.use_okta is not defined or g.user.use_okta %}
					{% if not g.user %}
					<a class="p-2 text-light" href="/login">Log In / Register</a>
					{% endif %}
				{% endif %}
			</nav>
		</div>
		{% if g.user %}
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<br>
					{% if g.project %}
						<p class="text-center lead border bg-primary text-light"><strong>{{ g.project.name }}</strong></p>
					{% endif %}
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link navButton" href="/qualities">
								<span data-feather="edit-2"></span>
								Identify System Qualities
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link navButton" href="/initial-system">
								<span data-feather="database"></span>
								View Baseline System
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link navButton" href="/hazards">
								<span data-feather="alert-circle"></span>
								Prioritize Hazards
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link navButton" href="/goals">
								<span data-feather="target"></span>
								Define Goals
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link navButton" href="/spineopt">
								<span data-feather="tool"></span>
								Run SpineOpt
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link navButton" href="/results">
								<span data-feather="bar-chart-2"></span>
								View Results
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link navButton" href="/changes">
								<span data-feather="layers"></span>
								Summarize Changes
							</a>
						</li>
					</ul>
				</div>
			</nav>

			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
				</div>
				<div>
					{% block content %}
					<form id="projectName" action="/" method="POST">
						<!-- Projects exist -->
						{% if projects %}
						<div class="container-fluid d-flex justify-content-center border-bottom">
							<div class="row">
								<h2>Your projects:</h2>
							</div>
						</div>
						<div class="container-fluid d-flex justify-content-center">
							<div class="row">
								{% for proj in projects %}
								<!-- <div class="col"> -->
								<div class="card" style="width: 18rem;">
									<div class="card-body">
										<h5 class="card-title">{{proj.name}}</h5>
										<button class="btn btn-link" type="submit" name="edit"
											value={{proj.id}}>Edit</button>
										<button class="btn btn-link" type="submit" name="delete"
											value={{proj.id}}>Delete</button>
									</div>
								</div>
								<!-- </div> -->
								{% endfor %}
							</div>
						</div>
						<div class="container-fluid d-flex justify-content-center">
							<div class="row">
								<div class="card" style="width: 18rem;">
									<div class="card-body">
										<h5 class="card-title">Add a new project</h5>
										<h6 class="card-subtitle mb-2 text-muted">Enter a name and click continue to
											create a new project: </h6>
										<p class="card-text"><input type="text" id="projectName1" name="projNameValAdd">
										</p>
									</div>
								</div>
							</div>
						</div>
						<!-- No existing projects -->
						{% else %}
						<div class="container-fluid d-flex justify-content-center">
							<div class="row">
								<div class="card" style="width: 18rem;">
									<div class="card-body">
										<h5 class="card-title">No projects saved.</h5>
										<h6 class="card-subtitle mb-2 text-muted">Enter a name and click continue to
											create a new project: </h6>
										<p class="card-text"><input type="text" id="projName2" name="projNameVal"></p>
									</div>
								</div>
							</div>
						</div>
						{% endif %}
				</div>
				<ol>
				</ol>
				<br>

				<div class="d-flex justify-content-center">
					<button type="submit" class="btn btn-outline-success" id="next_base_button">Continue</button>
				</div>
				</form>
				{% endblock %}
		</div>
		</main>
	</div>
	{% else %}
	<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
		<div
			class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		</div>
		<div>
			<div class="container-fluid d-flex justify-content-center">
				<h3>INL Resilience Calculator</h3>
			</div>
			<div class="container-fluid d-flex justify-content-center border-bottom text-muted">
				<h5>Measure your system's resilience and receive suggestions for improvement.</h5>
			</div>
			<div class="container-fluid d-flex justify-content-center border-bottom text-muted">
				<p>Access to reliable, resilient power systems is important in 21st century
					now more than ever. Terrestrial weather events exacerbated by climate
					change and extreme weather conditions
					are happening with greater frequency and intensity. Cyberattacks are
					seen at an increasing frequency against the power grid, and the attacks
					are becoming more
					sophisticated and targeted towards electric energy systems. The Idaho
					National Laboratory (INL), as part of the multi-laboratory Microgrids,
					Infrastructure Resilience, and Advanced
					Controls Launchpad (MIRACL) project, has developed a resilience
					framework for electric energy delivery systems (EEDS).
					The framework provides detailed steps for evaluating resiliency in the
					planning, operational, and future stages, and
					encompasses five core functions of resilience. It allows users to
					evaluate the resilience of distributed wind, taking
					into consideration the resilience of the wind systems themselves, as
					well as the effect they have on the resiliency of
					any systems they are connected to. This application follows the
					framework to allow stakeholders to evaluate their current position,
					create resiliency goals, compare different investment options,
					and decide which metrics are most appropriate for their system</p>
			</div>
			<!-- Graphic -->
			<div class="container-fluid d-flex justify-content-center">
				<img src="../static/planning_stage.png" alt="Framework Description" class="img-thumbnail border-0"
					height="300px" width="600px">
			</div>
			<!-- Link -->
			<div class="container-fluid d-flex justify-content-center">
				<a href="https://resilience.inl.gov/miracl/"><span
						data-feather="link"></span>https://resilience.inl.gov/miracl/</a>
			</div>
			{% endif %}
		</div>

		<!-- Icons -->
		<script src="../static/feather.min.js"></script>
		<script>
			feather.replace()
		</script>
		<!-- Latest CDN production JavaScript and CSS -->
		<!-- This is already included above -->
		<script src="../static/okta-sign-in.min.js"
			type="text/javascript"></script>

		{% if errors is defined and errors is not none %}
			{% for error in errors %}
				<div class="alert alert-danger" role="alert">
					{{error}}
				</div>
			{% endfor %}
		{% endif %}
</body>


</html>