{% extends 'base.html' %}

{% block content %}
<!-- Button trigger modal -->
<button type="button" class="btn-default btn-sm btn-outline-primary float-right" data-toggle="modal" data-target="#bowtieModal"><span data-feather="info"></span></button>
<!-- Modal (bowtie info popup) -->
<div class="modal fade" id="bowtieModal" tabindex="-1" role="dialog" aria-labelledby="bowtieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="bowtieModalLabel">Bowtie Analysis Explanation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <ol>
                <li><b>Identify metrics relevant for specific hazard.</b> For each scenario, metrics relevant to that hazard should be identified. These metrics will supplement the system metrics, which have been defined previously and provide evaluation criteria across multiple scenarios. These metrics may not be performance metrics, but rather measurements throughout the system necessary to properly understand the hazard.</li>
                <li><b>Identify processes and system impacted.</b> For the specific scenario, the relevant portions of the system should be identified. Portions of the system may include people, processes, and assets. Identification of the people, processes, and assets associated with a hazard may reveal a system vulnerability even before modeling.</li>
                <li><b>Model specific hazard.</b> Modeling the scenario may involve computer simulations, probability analyses, or test scenario procedures. Computer simulations are capable of modeling the impact of certain power system disruptions (e.g., contingency performance). Probability analyses may build on that computer simulation capability and incorporate weather and seismic activity to build survivorship models assessing asset fragility. Test scenario modeling may assess how the humans, processes, technology, and infrastructure fare in a mock event.</li>
                <li><b>Calculate consequences.</b> Stakeholders should then calculate consequences of the hazard. How did the system perform against the hazard? Were the metrics identified effective in capturing those consequences? Did the system perform as expected or were new characteristics of the system identified?</li>
                <li><b>Assess goal and metric performance.</b> Finally, for each scenario, performance should be evaluated by considering if goals were met and if metrics were within acceptable ranges. Stakeholders may ask themselves if the overall goals were met. If not, do the goals need to be adjusted to be more relevant for the system? What can be improved to meet the goal?</li>
            </ol>
        </div>
    </div>
    </div>
</div>
<br>

<form class="p-3" method="POST" id="quality" action="/bowtie" enctype="multipart/form-data">
    <ul class="list-group">
        <!-- Hazards List to Analyze -->
        {% for elem in priority_hazards %}
            {% if elem|length > 1 %}
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ elem }}</h5>
                    </div>
                    <p class="mb-1">
                        <ol>
                            <li>Identify metrics relevant for specific hazard.&nbsp;<input type="text" placeholder="Notes"></li>
                            <li>Identify processes and system impacted.&nbsp;<input type="text" placeholder="Notes"></li>
                            <li>Model specific hazard.&nbsp;<input type="text" placeholder="Notes"></li>
                            <li>Calculate consequences.&nbsp;<input type="text" placeholder="Notes"></li>
                            <li>Assess goal and metric performance.&nbsp;<input type="text" placeholder="Notes"></li>
                        </ol>
                    </p>
                </a>
                <br>
            {% endif %}
        {% endfor %}
    </ul>

    <br>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-success" id="next_bowtie_button">Save and Continue</button>
    </div>
</form>

{% endblock %}