{% extends 'base.html' %}

{% block content %}

<!-- ALL MODELING COMMENTED OUT UNTIL FURTHER DEVELOPMENT -->

<form class="p-3" method="POST" id="quality" action="/qualities" enctype="multipart/form-data">

    <!-- Modeling checkbox -->
    <div class="form-group hidden" >
        <div class="container-fluid d-flex border-bottom">
            <div class="float-right">
                <!-- <input type="checkbox" id="model" name="model_val"></input><label for="model" style="font-size:23px;">&nbsp;&nbsp;Select for INL Modeling Option</label> -->
            </div>
        </div>
    </div>

    <!-- Generation -->
    <div class="d-flex justify-content-center">
        <h4>Generation</h4>&nbsp; &nbsp;
        <!-- Add button -->
        <button class="btn btn-outline-success btn-sm" type="button" data-toggle="collapse" aria-expanded="false"
            id="add_gen">+</button> 
    </div>
    <div class="form-group" id="generation" >
        <table class="table" id="gen">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Generation Type</th>
                    <th scope="col">Generation Capacity [kW]</th>
                    <th scope="col">Description</th>
                    <!-- Modeling -->
                    <!-- <th scope="col" id="third">3rd Degree Polynomial Efficiency Curve Inputs</th>
                    <th scope="col" id="second"></th>
                    <th scope="col" id="first"></th>
                    <th scope="col" id="zero"></th> -->
                </tr>
            </thead>
            <tr>
                <!-- Prints out saved generation information -->
            {% if system.generation|length > 0 %}
                {% for gen in system.generation %}
                    <td><input name="gen_use" type="checkbox" value="{{gen}}" checked></td>
                    <td>{{ gen.name }}</td>
                    <td><input name="gen_cap" type=text value="{{gen.capacity_kw}}"></td>
                    <td><input name="desc" type=text value="{{gen.description}}"></td>
                </tr>
                {% endfor %}
            {% else %}
            {% for elem in generation_types %}
                <td><input name="gen_use" type="checkbox" value="{{elem}}"></td>
                <td>{{ elem }}</td>
                <td><input name="gen_cap" disabled type=text></td>
                <td><input name="desc" placeholder="Make, Model, etc." disabled type=text></td>
                <!-- Modeling -->
                <!-- <div class="form-group" id="model_inputs">
                    <td><input name="x3_val" placeholder="x^3" disabled type=text></td>
                    <td><input name="x2_val" placeholder="x^2" disabled type=text></td>
                    <td><input name="x1_val" placeholder="x^1" disabled type=text></td>
                    <td><input name="x0_val" placeholder="x^0" disabled type=text></td>
                </div> -->
            </tr>
            {% endfor %}
            {% endif %}
        </table>
    </div>

    <!-- Load -->
    <div class="d-flex justify-content-center">
        <h4>Load</h4>&nbsp;&nbsp;
        <!-- Add button -->
        <button class="btn btn-outline-success btn-sm" type="button" data-toggle="collapse" aria-expanded="false"
            id="add_load">+</button>
    </div>
    <div class="form-group" id="loading">
        <table class="table" id="load">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Load Type</th>
                    <th scope="col">Load Min [kW]</th>
                    <th scope="col">Load Max [kW]</th>
                    <th scope="col">Load Avg. [kW]</th>
                </tr>
            </thead>
    
            <!-- Prints out saved load information -->
            {% if system.load|length > 0 %}
                {% for load in system.load %}
                <tr>
                <td><input name="load_use" type="checkbox" value="{{elem}}" checked></td>
                <td>{{ load.name }}</td>
                <td><input name="load_min" type=text value="{{load.min_kw}}"></td>
                <td><input name="load_max" type=text value="{{load.max_kw}}"></td>
                <td><input name="load_avg" type=text value="{{load.avg_kw}}"></td>
                </tr>
                {% endfor %}
            {% else %}
                {% for elem in load_types %}
                <tr>
                    <td><input name="load_use" type="checkbox" value="{{elem}}"></td>
                    <td>{{ elem }}</td>
                    <td><input name="load_min" disabled type=text></td>
                    <td><input name="load_max" disabled type=text></td>
                    <td><input name="load_avg" disabled type=text></td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>

    <div class="row">
    <div class="col-sm">
    <!-- Connected Systems -->
    <div class="d-flex justify-content-center border-bottom">
        <h4>Connected Systems</h4>&nbsp; &nbsp;
        <!-- Add button -->
        <button class="btn btn-outline-success btn-sm" type="button" data-toggle="collapse" aria-expanded="false"
            id="add_conn_sys">+</button>
    </div>

    <div class="form-group justify-content-left d-flex">
        <ul style="list-style-type: none;" id="connect">
            <li><label for="coop"><input type="checkbox" name="coop_val" id="coop"> Local Co-op</label></li>
            <li><label for="rto"><input type="checkbox" name="rto_val" id="rto">Regional Transmission Operator</label></li>
        </ul>
    </div>
    </div>

    <div class="col-sm">
    <!-- Communications Used -->
    <div class="d-flex justify-content-center border-bottom">
        <h4>Communications Used</h4>&nbsp; &nbsp;
        <!-- Add button -->
        <button class="btn btn-outline-success btn-sm" type="button" data-toggle="collapse" aria-expanded="false"
            id="add_comm">+</button>
    </div>
    <div class="form-group d-flex justify-content-left">
        <ul style="list-style-type: none;" id="comm">
            <!-- TODO -->
            {% if system.con_syss|length > 0 %}
                {% for con_syss in system.con_syss %}
                    <li><label for="cyber"><input type="checkbox" name="cyber_val" id="cyber" checked>Cyber</label></li>
                {% endfor %}
            {% endif %}
            <li><label for="cyber"><input type="checkbox" name="cyber_val" id="cyber">Cyber</label></li>
            <li><label for="cell"><input type="checkbox" name="cell_val" id="cell">Dedicated Cellular</label></li>
            <li><label for="wifi"><input type="checkbox" name="wifi_val" id="wifi">WiFi</label></li>
            <li><label for="radio"><input type="checkbox" name="radio_val" id="radio">Radio</label></li>
        </ul>
    </div>
    </div>

    <div class="col-5">
    <!-- Market Parameters -->
    <div class="d-flex justify-content-center border-bottom">
        <h4>Relevant Market Parameters</h4>&nbsp;&nbsp;
        <!-- Add button -->
        <button class="btn btn-outline-success btn-sm" type="button" data-toggle="collapse" aria-expanded="false"
            id="add_market">+</button>
    </div>
    <div class="form-group d-flex justify-content-left">
        <ul style="list-style-type: none;" id="market">
            <li><label for="gen_cost"> Generation Capital Cost&nbsp;</label><input type="text" name="gen_cost_val" id="gen_cost" class="float-right"></li>
            <li><label for="kw_cost">Mean Cost per kW&nbsp;</label><input type="text" name="kw_cost_val" id="kw_cost" class="float-right"></li>
            <li><label for="main_cost">Mean Maintenance Cost&nbsp;</label><input type="text" name="main_cost_val" id="main_cost" class="float-right"></li>
            <li><label for="avg_consume_wint">Mean Consumer Rate (Winter)&nbsp;</label><input type="text" name="avg_consume_wint_val" id="avg_consume_wint" class="float-right"></li>
            <li><label for="avg_consume_summ">Mean Consumer Rate (Summer)&nbsp;</label><input type="text" name="avg_consume_summ_val" id="avg_consume_summ" class="float-right"></li>
        </ul>
    </div>
    </div>
    </div>

    <div class="d-flex justify-content-center"><button type="submit" class="btn btn-outline-success" id="next_qual_button">Save and Continue</button></div>
</form>

<script>
    // disable enter key
    $(document).ready(function() {
        $(window).keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });


    // enable/disable input for modeling option
    //hide to begin
    // $('#third').hide();
    // $('#second').hide();
    // $('#first').hide();
    // $('#zero').hide();
    // $('input[name="x3_val"]').hide();
    // $('input[name="x2_val"]').hide();
    // $('input[name="x1_val"]').hide();
    // $('input[name="x0_val"]').hide();
    // // hide or show based on model checkbox
    // $('input[name="model_val"]').on('click', function() {
    //     if($('#model').prop('checked') == true){
    //         $('#third').show();
    //         $('#second').show();
    //         $('#first').show();
    //         $('#zero').show();
    //         $('input[name="x3_val"]').show();
    //         $('input[name="x2_val"]').show();
    //         $('input[name="x1_val"]').show();
    //         $('input[name="x0_val"]').show();
    //     }
    //     else{
    //         $('#third').hide();
    //         $('#second').hide();
    //         $('#first').hide();
    //         $('#zero').hide();
    //         $('input[name="x3_val"]').hide();
    //         $('input[name="x2_val"]').hide();
    //         $('input[name="x1_val"]').hide();
    //         $('input[name="x0_val"]').hide();
    //     }
    // });
    // enable/disable input on generation
    $('input[name="gen_use"]').on('click', function() {
        if($(this).closest('tr').find("input[type='text']").prop('disabled') == false){
            $(this).closest('tr').find("input[type='text']").prop('disabled', true);
        }
        else{
            $(this).closest('tr').find("input[type='text']").prop('disabled', false);
        }
    });
    // enable/disable input on load
    $('input[name="load_use"]').on('click', function() {
        if($(this).closest('tr').find("input[type='text']").prop('disabled') == false){
            $(this).closest('tr').find("input[type='text']").prop('disabled', true);
        }
        else{
            $(this).closest('tr').find("input[type='text']").prop('disabled', false);
        }
    });
    // add generation option
    $("#add_gen").on('click', function () {
        $("#gen").append('<tr id="gen"><td><input name="gen_use" type="checkbox" checked></td><td><input name="gen_type" type="text"></td><td><input name="gen_cap" type=text></td><td><input name="rel_param" type=text></td></div></tr>');
        // <div class="form-group" id="model_inputs"><td><input name="x3_val" placeholder="x^3" type=text></td><td><input name="x2_val" placeholder="x^2" type=text></td><td><input name="x1_val" placeholder="x^1" type=text></td><td><input name="x0_val" placeholder="x^0" type=text></td>
        // if($('#model').prop('checked') == false){
        //     $('#third').hide();
        //     $('#second').hide();
        //     $('#first').hide();
        //     $('#zero').hide();
        //     $('input[name="x3_val"]').hide();
        //     $('input[name="x2_val"]').hide();
        //     $('input[name="x1_val"]').hide();
        //     $('input[name="x0_val"]').hide();
        // }
    });
    // add load option
    $("#add_load").on('click', function () {
        $("#load").append('<tr><td><input name="load_use" type="checkbox" checked></td><td><input name="load_type" type="text"></td><td><input name="load_min" type=text></td><td><input name="load_max" type=text></td><td><input name="load_avg" type=text></td></tr>');
    });
    // add connected system option
    $("#add_conn_sys").on('click', function () {
        $("#connect").append('<li><input type="text"></input><button type="button" class="delete btn-xs"><span data-feather="trash-2"></span></button></li>');
        feather.replace()
    });
    // add communication option
    $("#add_comm").on('click', function () {
        $("#comm").append('<li><input type="text"></input><button type="button" class="delete btn-xs"><span data-feather="trash-2"></span></button></li>');
        feather.replace()
    });
    // add relevant market parameters option
    $("#add_market").on('click', function () {
        $("#market").append('<li><div class="float-right"><input type="text"></input><button type="button" class="delete btn-xs"><span data-feather="trash-2"></span></button></div></li>');
        feather.replace()
    });
    // delete button action
    $('body').on('click', '.delete', function() {
        $(this).closest('li').remove();
    });
</script>

{% endblock %}

