{% extends 'base.html' %}

{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="text-muted">Drag and drop to rearrange in order of priority.</div>
</div>
<br>
<div class="container-fluid d-flex justify-content-center border-bottom">
    <div class="text-muted"><i>Click outside of text box after adding a goal or metric. To move added hazards, drag by the whitespace between the text box and delete button.<br>&nbsp;</i></div>
</div>

<br>
<form class="p-3" method="POST" id="quality" action="/vulnerabilities" enctype="multipart/form-data">
    <div class="container-fluid d-flex justify-content-center">
        <div class="col">
            {% for elem in priority_hazards %}
                {% if elem|length > 1 %}
                    <h5><u> {{ elem }} </u></h5>

                    <!-- Hardcoding for demo purposes -->
                    {% if elem == 'Fuel Shortage' %}
                        <div class="row list list-row card sortable" aria-dropeffect="move">
                            <div class="list-item" draggable="false" role="option"
                                aria-grabbed="false"><button class="btn btn-outline-success btn-sm add_mitigation" type="button" 
                                data-toggle="collapse" aria-expanded="false">Add Risk Mitigation Option</button></div>
                                <div class="list-item" draggable="true" role="option" aria-grabbed="false"><div class="item-except text-lg h-1x">
                                    Install more diesel storage &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="delete btn-xs"><span data-feather="trash-2"></span></button></div></div>
                                <div class="list-item" draggable="true" role="option" aria-grabbed="false"><div class="item-except text-lg h-1x">
                                    Install more wind &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="delete btn-xs"><span data-feather="trash-2"></span></button></div></div>
                                </div>
                        <br>
                    {% elif elem == "Severe Winter Weather" %}
                        <div class="row list list-row card sortable" aria-dropeffect="move">
                            <div class="list-item" draggable="false" role="option"
                                aria-grabbed="false"><button class="btn btn-outline-success btn-sm add_mitigation" type="button" 
                                data-toggle="collapse" aria-expanded="false">Add Risk Mitigation Option</button></div>
                                <div class="list-item" draggable="true" role="option" aria-grabbed="false"><div class="item-except text-lg h-1x">
                                    Winterization &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="delete btn-xs"><span data-feather="trash-2"></span></button></div></div>
                        </div>
                        <br> 
                    {% elif elem == "Communication Outages" %}
                        <div class="row list list-row card sortable" aria-dropeffect="move">
                            <div class="list-item" draggable="false" role="option"
                                aria-grabbed="false"><button class="btn btn-outline-success btn-sm add_mitigation" type="button" 
                                data-toggle="collapse" aria-expanded="false">Add Risk Mitigation Option</button></div>
                                <div class="list-item" draggable="true" role="option" aria-grabbed="false"><div class="item-except text-lg h-1x">
                                    Install redundant communication lines &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="delete btn-xs"><span data-feather="trash-2"></span></button></div></div>
                        </div>
                        <br>
                   <!-- End hardcoding for demo purposes -->
                   
                    {% else %}
                        <div class="row list list-row card sortable" aria-dropeffect="move">
                            <div class="list-item" draggable="false" role="option"
                                aria-grabbed="false"><button class="btn btn-outline-success btn-sm add_mitigation" type="button" 
                                data-toggle="collapse" aria-expanded="false">Add Risk Mitigation Option</button></div>
                        </div>
                        <br>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-success" id="next_vul_button">Next</button>
    </div>
</form>

<script>
    $(".add_mitigation").on('click', function () {
        $(this).closest('div.list').append('<div class="list-item" draggable="true" role="option" aria-grabbed="false"><div class="item-except text-lg h-1x"><input type="text">&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="delete btn-xs"><span data-feather="trash-2"></span></button></div></div>');
        feather.replace()
    });
    $('body').on('click', '.delete', function() {
        $(this).closest('div.list-item').remove();
    });
    $( function() {
        $( ".sortable" ).sortable();
        $( ".sortable" ).disableSelection();
    } );
</script>
{% endblock %}