wheel
Flask==1.1.4
sqlalchemy
flask_oidc
okta
jill
pytest
PySide2
-e git+https://github.com/spine-tools/spine-engine.git@7be63302466f2826ab80ffa0730e31a052770fc4#egg=spine_engine
-e git+https://github.com/spine-tools/spine-items.git@f08c405fdcc4effc36da93d96239caf211718e92#egg=spine_items
-e git+https://github.com/spine-tools/Spine-Database-API.git@c147f787f314413356ce3a59cf608d6bbcd4bfa4#egg=spinedb_api
-e git+https://github.com/Spine-project/Spine-Toolbox.git@ee6c75e046f38f09e43314da9dfcf5bca8303d4a#egg=spinetoolbox