<!-- Copyright 2023, Battelle Energy Alliance, LLC -->
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="text-muted">Define quantitative goals by selecting a target value for each metric.</div>
</div>

<form class="p-3" method="POST" id="goal" action="/goals" enctype="multipart/form-data">
    <div class="card mb-3 pb-1">
        <div class="card-body">
        <h4 class="card-title">Base goals</h4>
        <h5 class="card-subtitle mb-2 text-muted">These will be used if no other value is specified.</h5>
        {% for goal in base_hazard.goals %}
            <div class="row">
                <div class="col-md">
                    <input class="form-control-plaintext" type="text" id="goalName" name="goalName" readonly value="{{ base_hazard.name }}.{{ goal.metric.name }}">
                </div>
                <div class="col-sm">
                    <select class="form-select" id="goalComparison" name="goalComparison">
                        {% for option in goal_comparisons %}
                            {% if goal.comparison.value and goal.comparison.value == option %}
                                <option value="{{ option }}" selected>{{ option|safe }}</option>
                            {% else %}
                                <option value="{{ option }}">{{ option|safe }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <input type="number" class="form-control" id="goalTargetValue" name="goalTargetValue" value="{{ goal.target_value }}">
                </div>
                <div class="col">{{ goal.metric.unit.value }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% for hazard in hazards %}
    <div class="card mb-3 pb-1" style="background-color: {{ colors[hazard.get_risk_level().value] }}">
        <div class="card-body">
        <h4 class="card-title">Goals for {{ hazard.name }}</h4>
        {% for goal in hazard.goals %}
            <div class="row">
                <div class="col-md">
                    <input class="form-control-plaintext" type="text" id="goalName" name="goalName" readonly value="{{ hazard.name }}.{{ goal.metric.name }}">
                </div>
                <div class="col-sm">
                    <select class="form-select" id="goalComparison" name="goalComparison">
                        {% for option in goal_comparisons %}
                            {% if goal.comparison.value and goal.comparison.value == option %}
                                <option value="{{ option }}" selected>{{ option|safe }}</option>
                            {% else %}
                                <option value="{{ option }}">{{ option|safe }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <input type="number" class="form-control" id="goalTargetValue" name="goalTargetValue" value="{{ goal.target_value }}">
                </div>
                <div class="col">{{ goal.metric.unit.value }}</div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% endfor %}

    <div class="d-flex justify-content-center mt-3">
        <button type="submit" class="btn btn-outline-success" id="next_goal_button">Save and Continue</button>
    </div>
</form>

<script>
    // prevent enter key
    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>

{% endblock %}