<!-- Copyright 2023, Battelle Energy Alliance, LLC -->
{% extends 'base.html' %}

{% block content %}
<div class="container-fluid d-flex justify-content-center">
    <div class="text-muted">The baseline system loaded from the spreadsheet is shown below.</div>
</div>
<br>
<div class="container-fluid d-flex justify-content-center">
    <div class="text-muted"><i>Click Next to continue, or Back to upload a different spreadsheet.<br>&nbsp;</i></div>
</div>
<div class="container-fluid d-flex justify-content-center pb-3">
    <a href="/qualities" role="button" class="btn btn-secondary ml-3">Back</a>
    <a href="/hazards" role="button" class="btn btn-outline-success ml-3">Next</a>
</div>
<div class="container-fluid d-flex justify-content-center">
    <table class="table" id="sys">
        <thead>
            <tr>
                <th scope="col">Object Name</th>
                <th scope="col">Object Class</th>
                <th scope="col">Parameters</th>
            </tr>
        </thead>
        {% for obj in system %}
        <tr>
            <td class="align-middle">{{ obj.object_name }}</td>
            <td class="align-middle">{{ obj.object_class_name }}</td>
            <td>
                <table>
                    <tr>
                        {% for param_name, param_id_and_val in obj.parameters.items() %}
                        {% if loop.index0 != 0 and loop.index0 % 3 == 0 %} </tr><tr> {% endif %}
                        <td class="border-0">
                            <i>{{ param_name }}</i><br />{{ param_id_and_val[1] }}
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            <td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="container-fluid d-flex justify-content-center">
    <table class="table" id="relationships">
        <thead>
            <tr>
                <th scope="col">Relationship Name</th>
                <th scope="col">Object 1</th>
                <th scope="col">Object 2</th>
                <th scope="col">Parameters</th>
            </tr>
        </thead>
        {% for rel in relationships %}
        <tr>
            <td class="align-middle">{{ rel.name }}</td>
            {% for obj in rel.objects %}
                <td class="align-middle">{{ obj.object_name }}</td>
            {% endfor %}
            <td>
                <table>
                    <tr>
                        {% for param_name, param_id_and_val in rel.parameters.items() %}
                        {% if loop.index0 != 0 and loop.index0 % 3 == 0 %} </tr><tr> {% endif %}
                        <td class="border-0">
                            <i>{{ param_name }}</i><br />{{ param_id_and_val[1] }}
                        </td>
                        {% endfor %}
                    </tr>
                </table>
            <td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}