<!-- Copyright 2023, Battelle Energy Alliance, LLC -->
{% extends 'base.html' %}

{% block content %}

<!-- ALL MODELING COMMENTED OUT UNTIL FURTHER DEVELOPMENT -->

<form class="p-3" method="POST" id="quality" action="/qualities" enctype="multipart/form-data">

    <div class="form-group">
        <div class="container-fluid d-flex justify-content-center">
            <div class="row">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Upload System Spreadsheet</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Upload the spreadsheet that defines your system:</h6>
                    <p class="card-text"><input name="system_spreadsheet" type="file"></p>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Download Template</h5>
                    <h6 class="card-subtitle mb-2 text-muted">No system spreadsheet? Download this template and fill it out!</h6>
                    <p class="card-text"><a href="/download-template" role="button" class="btn btn-secondary">Download</a></p>
                    </div>
                </div>
            </div>
        </div>
        <h4></h4>
        
    </div>
    
    <div class="container"> 
        <div id="loading" class="loading">
          Loading&#8230;     
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-primary"  id="next_qual_button" onClick="showSpinner()">Upload</button>
            <a href="/initial-system" role="button" class="btn btn-outline-success ml-3">Continue</a>
        </div>
      </div>
    
</form>

{% if result != "" %}
<div>
    {% for line in result %}
        {{ line|e }}<br />
    {% endfor %}
</div>
{% endif %}

{% endblock %}

