.login-card{
    width: 20em;
    // height: 30em;
    flex-grow: 0 !important;
}

.login-form-field{
    width: 100%;
}

.login-instructions{
    margin-bottom: 1em;
    font-size: 85%;
}
.login-buttons{    
    display: flex;
    flex-direction: row-reverse;
}