<div class="layout-login-container flex w-100 root">
    <!-- Header -->
    <div class="layout-header flex w-100 color-primary">
        <!-- <div class="hader-title flex">
            Resdeeds Login 
            <p style="font-size: 7px;">
                logo image needed
            </p>
        </div> -->
    </div>


    <!-- Body -->
    <div class="layout-login-body color-background">
        <div>

        </div>
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <footer class="layout-login-footer" >
        My Login Footer
    </footer>
    <footer  >
    </footer>
  </div>