<div class="diagram-page-container">
    <div class="diagram-top-bar">
        <div class="my-diagram-buttton diagram-button" (click)="addUtilitySource()">Add Utility</div>
        <div class="my-diagram-buttton diagram-button" (click)="addLine()">Add Line</div>
        <div class="my-diagram-buttton diagram-button" (click)="addDieselGenerator()">Add Diesel Generator</div>
        <div class="my-diagram-buttton diagram-button" (click)="addWindGenerator()">Add Wind Generator</div>
        <div class="my-diagram-buttton diagram-button" (click)="addSolarGenerator()">Add Solar Generator</div>
        <div class="my-diagram-buttton diagram-button" (click)="addBattery()">Add Battery</div>
        <div class="my-diagram-buttton diagram-button" (click)="addBus()">Add Bus</div>
        <div class="my-diagram-buttton diagram-button" (click)="addLoad()">Add Load</div>
    </div>
    <div class="diagram-wrapper">
        <div #drawflow class="drawflow-container drawing-board main-diagram"></div>

        <div class="node-data" > 
            <div class="node-data-tabs">
                <div class="node-data-tab diagram-button" [ngClass]="{'node-data-tab-selected': tabSelected == 'info'}" (click)="setTab('info')">Info</div>
                <div class="node-data-tab diagram-button" [ngClass]="{'node-data-tab-selected': tabSelected == 'connections'}"(click)="setTab('connections')">Connections</div>
                <div class="node-data-tab diagram-button" [ngClass]="{'node-data-tab-selected': tabSelected == 'hazards'}"(click)="setTab('hazards')">Hazards</div>

            </div>
            
            @if (tabSelected == 'info') {
            <div class="node-specific-data" [formGroup]="workingFormGroup">
                @if (workingNode) {
                    <div class="generic-node-data">
                        <label for="title">Title: </label>
                        <input id="title" type="text" formControlName="title">
                    </div>        
                }
                @if (workingNode?.data?.type == 'UtilitySource' ) {
                    <div class="generic-node-data">
                        <label for="nominalVoltage">Nominal Voltage: </label>
                        <input id="nominalVoltage" type="number" formControlName="nominalVoltage">
                        
                        <label for="maximumPowerFactor">Maximum Power Factor: </label>
                        <input id="maximumPowerFactor" type="number" formControlName="maximumPowerFactor">
                        
                        <label for="minimumPowerFactor">Minimum Power Factor: </label>
                        <input id="minimumPowerFactor" type="number" formControlName="minimumPowerFactor">
    
                        <label for="maximumCurrentAvailable">Maximum Current Available: </label>
                        <input id="maximumCurrentAvailable" type="number" formControlName="maximumCurrentAvailable">
                    </div> 
                }
                @if (workingNode?.data?.type == 'DieselGenerator' ) {
                    <div class="generic-node-data">
                        <label for="nominalPower">Nominal Power: </label>
                        <input id="nominalPower" type="number" formControlName="nominalPower">
                        
                        <label for="namePlateMaximumPower">Nameplate Maxium Power: </label>
                        <input id="namePlateMaximumPower" type="number" formControlName="namePlateMaximumPower">
                        
                    </div> 
                }
                @if (workingNode?.data?.type == 'WindGenerator' ) {
                    <div class="generic-node-data">
                        <label for="nominalPower">Nominal Power: </label>
                        <input id="nominalPower" type="number" formControlName="nominalPower">
                        
                        <label for="namePlateMaximumPower">Nameplate Maxium Power: </label>
                        <input id="namePlateMaximumPower" type="number" formControlName="namePlateMaximumPower">
                        
                        <label for="maxOutput">Max Output (Estimated Percent): </label>
                        <input id="maxOutput" type="number" formControlName="maxOutput">
                        
                    </div> 
                }
                @if (workingNode?.data?.type == 'SolarGenerator' ) {
                    <div class="generic-node-data">
                        <label for="nominalPower">Nominal Power: </label>
                        <input id="nominalPower" type="number" formControlName="nominalPower">
                        
                        <label for="namePlateMaximumPower">Nameplate Maxium Power: </label>
                        <input id="namePlateMaximumPower" type="number" formControlName="namePlateMaximumPower">                    
                        
                    </div> 
                }
                @if (workingNode?.data?.type == 'Battery' ) {
                    <div class="generic-node-data">
                        <label for="rateOfCharge">Rate of Charge (MW): </label>
                        <input id="rateOfCharge" type="number" formControlName="rateOfCharge">
    
                        <label for="rateOfDischarge">Rate of Discharge (MW): </label>
                        <input id="rateOfDischarge" type="number" formControlName="rateOfDischarge">
                           
                        <label for="storage">Storage: </label>
                        <input id="storage" type="number" formControlName="storage">                    
                        
                    </div> 
                }
                @if (workingNode?.data?.type == 'Line' ) {
                    <div class="generic-node-data">
                        
                        <label for="steadyStateCurrentRating">Steady State Current Rating: </label>
                        <input id="steadyStateCurrentRating" type="number" formControlName="steadyStateCurrentRating">
                        
                        <label for="length">Length (miles): </label>
                        <input id="length" type="number" formControlName="length">
                        
                        <label for="admitance">Admittance/Impedance : </label>
                        <input id="admitance" type="number" formControlName="admitance">
    
                        <label for="emergency4HourRating">Emergency Four Hour Rating: </label>
                        <input id="emergency4HourRating" type="number" formControlName="emergency4HourRating">
    
                        <label for="emergency2HourRating">Emergency Two Hour Rating: </label>
                        <input id="emergency2HourRating" type="number" formControlName="emergency2HourRating">
                    </div> 
                }
                @if (workingNode?.data?.type == 'Bus' ) {
                    <div class="generic-node-data">
                        
                    </div> 
                }
                @if (workingNode?.data?.type == 'Load' ) {
                    <div class="generic-node-data">
                        
                        <label for="powerFactor">Power Factor: </label>
                        <input id="powerFactor" type="number" formControlName="powerFactor">
                        
                        <label for="reduction">Reduction: </label>
                        <input id="reduction" type="number" formControlName="reduction">
                        
                        <label for="timeAllowedForOutage">Time Allowed For Outage : </label>
                        <input id="timeAllowedForOutage" type="number" formControlName="timeAllowedForOutage">
    
                    </div> 
                }
                @if (workingNode && this.workingFormGroup.valid) {                
                    <button class="my-diagram-buttton" [disabled]="!workingFormGroup.valid" (click)="saveWorkingNode()">Save</button>      
                }
            </div>
            }
            
            @if (tabSelected == 'connections') {
                <div class="node-connection-data">

                    <div class="connection-title">                        
                        <div>
                            Inputs
                        </div>
                        <div (click)="addNodeConnection('input')" class="input-output-remove-button"> + </div>
                    </div>
                    @for (input of inputConnections; track input.id){
                        <div class="input-output-title">
                            <div>Input {{input.id + 1}}</div>
                            <div (click)="removeNodeConnection('input',input.id, input.connections.length == 0)" class="input-output-remove-button" [ngClass]="{'disabled-remove-button': input.connections.length > 0}"> - </div>
                        </div>
                        <div class="input-output-container">
                            @for (connection of input.connections; track connection.node){
                                {{connection.title}}
                            }
                        </div>                        
                    }
                    <div>-----------</div>
                    <div class="connection-title">
                        <div>
                            Outputs
                        </div>
                        <div (click)="addNodeConnection('output')" class="input-output-remove-button"> + </div>
                    </div>                    
                    @for (output of outputConnections; track output.id){
                        <div class="input-output-title">
                            <div>Output {{output.id + 1}}</div>
                            <div (click)="removeNodeConnection('output',output.id, output.connections.length == 0)" class="input-output-remove-button" [ngClass]="{'disabled-remove-button': output.connections.length > 0}"> - </div>
                        </div>
                        <div class="input-output-container">
                            @for (connection of output.connections; track connection.node){
                                <div class="input-output-connection">
                                    {{connection.title}}
                                </div>
                            }
                        </div>      
                    }
                </div>
            }
        </div>
    </div>
    <div class="diagram-bottom-bar">
        @if (true) {
            <div class="my-diagram-buttton" (click)="addNode()">Add Node</div>
            <div class="my-diagram-buttton" (click)="test()">Export</div>
            <div class="my-diagram-buttton" (click)="import()">Import</div>
            <div class="my-diagram-buttton" (click)="setColor('red')">Red</div>
            <div class="my-diagram-buttton" (click)="setColor('green')">Green</div>
        }
    </div>

</div>
